.course-cont {
    width: 100%;
    max-width: 1500px;
    max-height: 1000px;
    min-width: 1450px;
    height: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f9fa; 
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
}

.slide-cont {
    max-width: 1650px;
    display: flex;
    justify-content: space-between;
    margin: 100px auto;
}

.slide-cont button {
 background-color: rgba(198, 206, 206, 0.874);
    border: none;
    min-width: 75px;
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    
}

.prev {
    border-radius: 10px 0 0 10px ;
}
.next {
    border-radius: 0 10px 10px 0;
}

.slide-cont button:hover {
    background-color: rgba(198, 206, 206, 0.6);
    cursor: pointer;
}

.overview {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.overview img {
    width: 50%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin-right: 8%;
}

.objective {
    position: absolute;
    bottom: 0;
    text-align: center;
    font-weight: bold;
    transform: translateX(-.5%);
}

.hierarchy {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.hierarchy ul, .hierarchy li {
    padding: 5px;
    margin: 10px 20px;
    
}

.hierarchy img {
    position: absolute;
    right: 5%;
    top: 40%;
    width: auto;
    height: 350px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
   
}

.disclaimer {
    display: flex;
    flex-direction: column;
    height: max-content;
    gap: 15px;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
.disclaimer li {
   margin: 20px 0;
}

.types-of-packages {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    max-height: 800px;
    justify-items: center;
}

.types-of-packages img {
    width: auto;
    height: 300px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.types-of-packages li {
    list-style: none;
    margin: 20px 0;
}

